<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.psx.mapper.MovieMapper">
<!--    查询全部数据-->
<!--    <select id="queryMovieList" resultType="Movie">-->
<!--        select * from movie-->
<!--    </select>-->


    <resultMap type="com.psx.pojo.Movie" id="movieMap">
        <id property="id" column="id" />
        <result property="mviename" column="mviename" />
        <result property="director" column="director" />
        <result property="movietime" column="movietime" />
        <result property="release_date" column="release_date" />
        <result property="moviedes" column="moviedes" />
        <result property="rating" column="rating" />
        <result property="moviecover" column="moviecover" />

        <collection  property="typeList"  ofType="com.psx.pojo.Type">
            <id property="id" column="tid" />
            <result property="movietype" column="movietype" />
        </collection>

        <collection  property="actors"  ofType="com.psx.pojo.Actor">
            <id property="id" column="aid" />
            <result property="name" column="aname" />
            <result property="birthday" column="abirthday" />
            <result property="sex" column="asex" />
            <result property="description" column="adescription" />
            <result property="pic" column="apic" />
        </collection>
    </resultMap>

    <select id="findById" resultMap="movieMap">
        select m.*,a.id aid,a.name aname,a.birthday abirthday,a.sex
            asex,a.description adescription, a.pic apic,
            t.id tid,t.movietype tmovietype
        from
            movie m
        left join
            movie_actor ma
        on
            m.id=ma.movieid
        left join
            actor a
        on
            ma.actorid=a.id
        left join
            movie_type mc
        on
            m.id=mc.movieid
        left join
            type t
        on mc.typeid=t.id
        where m.id = #{id}
    </select>

    <select id="queryMovieList" resultMap="movieMap">
        select
            m.*,
            a.id aid,a.name aname,a.birthday abirthday,a.sex
            asex,a.description adescription, a.pic apic,
            t.id tid, t.movietype movietype
        from
            movie m
        left join
            movie_actor ma
        on
            m.id=ma.movieid
        left join
            actor a
        on
            ma.actorid=a.id
        left join
            movie_type mc
        on
            m.id=mc.movieid
        left join
            type t
        on mc.typeid=t.id
    </select>



    <insert id="addMovie" parameterType="Movie">
        insert into movie (mviename,director,movietime,moviedes,moviecover,movie_stars)
        values (#{mviename},#{director},#{movietime},#{moviedes},#{moviecover},#{movie_stars})
        <selectKey resultType="Integer" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID() AS id
        </selectKey>
    </insert>

    <insert id="insertMovieAndType" parameterType="MovieAndType">
        insert into movie_type (movieid,typeid) values (#{movieid},#{typeid})
    </insert>


<!--    删除电影与类型的中间表中的记录-->
    <delete id="deleteMovieAndType">
        delete from movie_type where movieid =#{id}
    </delete>

    <!--    删除电影中的记录-->
    <delete id="deleteMovie" parameterType="int">
        delete from movie where id=#{id}
    </delete>
<!--    删除电影与演员的中间表中的记录-->
    <delete id="deleteMovieAndActors" >
        delete from movie_actor where movieid = #{id}
    </delete>


<!--    修改电影-->
    <update id="updateMovie" parameterType="Movie">
        update movie set mviename=#{mviename},director=#{director},movietime=#{movietime},moviedes=#{moviedes},moviecover=#{moviecover},movie_stars=#{movie_stars} where id= #{id}
    </update>



</mapper>