<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>springboot登录</title>
    <style type="text/css">
        ul li{
            list-style: none;
        }
    </style>
</head>
<body>
<div >
    <form name="form"  action="loginPage">
       <table>
           <td>用户名：</td>
           <td><input type="text" name="username"/></td>

           <td>密码：</td>
           <td><input type="password" name="password"/></td>
           <td><input type="submit" value="登录"/></td>

       </table>
    </form>
</div>
</body>
</html>